@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
<div class="about-us">
  <h1 class="about-us-heading">Diamond Gardeners</h1>
  <div class="about-us-card-container">
    <div class="about-us-card">
      <img src="~/assets/img/daniel.png" class="about-us-profile-picture" />
      <h3 class="about-us-name">Daniel Mellqvist</h3>
      <h3 class="about-us-nickname">danielmellqvist</h3>
      <h3 class="about-us-email">placeholder@gmail.com</h3>
    </div>
    <div class="about-us-card">
      <img src="~/assets/img/nophoto.jpg" class="about-us-profile-picture" />
      <h3 class="about-us-name">Hanna Binder Ekedahl</h3>
      <h3 class="about-us-nickname">BannaHinder</h3>
      <h3 class="about-us-email">placeholder@gmail.com</h3>
    </div>
    <div class="about-us-card">
      <img src="~/assets/img/simon.png" class="about-us-profile-picture" />
      <h3 class="about-us-name">Simon Gripencreutz</h3>
      <h3 class="about-us-nickname">Gripencreutz</h3>
      <h3 class="about-us-email">placeholder@gmail.com</h3>
    </div>
    <div class="about-us-card">
      <img src="~/assets/img/marcus.jpg" class="about-us-profile-picture" />
      <h3 class="about-us-name">Marcus Nyman</h3>
      <h3 class="about-us-nickname">Marnym</h3>
      <h3 class="about-us-email">Marcusnymanskola@gmail.com</h3>
    </div>
  </div>
</div>
