@*
  For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
<div class="doc-container">
  <h1 class="doc-heading">WeatherData - Diamond Garderners</h1>
  <div class="doc-section">
    <h2>Autumn/Winter</h2>
    <h3>Autumn</h3>
    <p>
      The meteorological definition of autumn according to SMHI is:
      "that the daily average temperature shall be decreasing and lower than 10.0 plus degrees but higher than 0.0 °
      for five consecutive days". An additional condition is that autumn cannot begin before the 1st of August.
    </p>
    <p>
      This never happens in the data we have been assigned,
      therefore we have modified the conditions a bit and set them to falling and lower than 12 plus degrees.
      This is easily changed in the variables fallMin and fallMax.
    </p>
    <img src="~/assets/img/fallvariables.png" />
    <h3>Winter</h3>
    <p>
      The meteorological definition of Winter according to SMHI is:
      "the period when the average daily temperature is 0.0 degrees or lower for five consecutive days".
      The winter can not occur before the 1st of August"
    </p>
    <p>This also never happens in our data, in this case, however, we have chosen not to modify the terms more than to try so that our method works, which it does.</p>
    <p>The first day of fall/winter is represented by a leaf and a snowflake in the main chart, as shown in these pictures.</p>
    <h3>Results:</h3>
    <img src="~/assets/img/fall-r.png" />
    <img src="~/assets/img/winter-r.png" />
  </div>

  <div class="doc-section">
    <h2>Mold risk assessment</h2>
    <h3>Subtitle</h3>
    <p>paragraph</p>
  </div>

  <div class="doc-section">
    <h2>Open door</h2>
    <h3>subtitle</h3>
    <p>Paragraph</p>
</div>

